<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <head class="header-container">
            <quiz class="title">QUIZ</quiz>
            <P>WELCOME TO THE </P>
            <P>4HDFSGIJSGGJ</P>
            <nav class="TOPIC">
                <ul>
                    <li><a href="COMMUNICTIOM.html">COMMUNICATOPM</a></li>
                    <li><a href="DISAPOINTMENR.html">COMMUNICATOPM</a></li>
                </ul>
            </nav>
        </head>
    </header>
    
</body>
</html>